:root {
	--container-width: 1182px;
	--container-padding: 15px;

	--font-main: ;
	--font-accent: ;

	--color-light: #FFFFFF;
	--color-accent: #00C35B;
	--color-ultra-dark: #19191A;
	--color-dark: #232323;
	--color-gray: #3A3939;

	--br-big: 40px;
	--br-small: 20px;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}